each donador in donadores
    tr
        td= donador.nombre
        td= donador.gmaildonador
        td= donador.telefono
        td= donador.telcontacto
        td= donador.empresa
        td(class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium flex space-x-2")
             a(href=`/admin/donadores/editar/${donador.id}` class="rounded px-8 py-2 bg-green-500 hover:bg-green-900 text-sm font-bold text-center text-white uppercase my-2 inline-block w-full md:w-auto") Editar
             button(type="button" class="rounded px-8 py-2 bg-red-500 hover:bg-red-900 text-sm font-bold text-center text-white uppercase my-2 inline-block w-full md:w-auto" onclick=`confirmDelete(${donador.id})`) Eliminar