if donadores.length
    table
        thead
            tr
                th.text-center Nombre
                th.text-center Correo Electrónico
                th.text-center Teléfono
                th.text-center Teléfono de Contacto
                th.text-center Empresa
                th.text-center Acciones
        tbody
            each donador in donadores
                tr
                    td.text-center= donador.nombre
                    td.text-center= donador.gmaildonador
                    td.text-center= donador.telefono
                    td.text-center= donador.telcontacto
                    td.text-center= donador.empresa
                    td.text-center(class="items-center px-2 py-4 whitespace-nowrap text-right text-sm font-medium flex space-x-2")
                        a.items-center(href=`/admin/donadores/editar/${donador.id}` class="items-center rounded-lg px-8 py-2 bg-indigo-600 hover:bg-indigo-700 text-sm font-bold text-center text-white uppercase my-2 inline-block w-full md:w-auto") Editar
                        button.items-center(type="button" class=" items-center rounded-lg px-8 py-2 bg-red-500 hover:bg-red-900 text-sm font-bold text-center text-white uppercase my-2 inline-block w-full md:w-auto" onclick=`confirmDelete(${donador.id})`) Eliminar
else
    p.text-center No hay donadores registrados.

if totalPages > 1
    ul.pagination.flex.justify-center.mt-5
        li.page-item(class=currentPage === 1 ? 'hidden' : '')
            a.page-link(href=`#`, onclick=`changePage(${currentPage - 1})`, class="rounded px-4 py-2 bg-azul-tur hover:bg-indigo-900 text-sm font-bold text-center text-white uppercase") Anterior

        - for(let i = 1; i <= totalPages; i++)
            li.page-item(class=i === currentPage ? 'active' : '')
                a.page-link(href=`#`, onclick=`changePage(${i})`, class=`${i === currentPage ? 'bg-azul-tur text-white' : 'bg-white text-indigo-600'} border border-indigo-600 hover:bg-indigo-900 hover:text-white font-bold py-2 px-4`) #{i}

        li.page-item(class=currentPage === totalPages ? 'hidden' : '')
            a.page-link(href=`#`, onclick=`changePage(${currentPage + 1})`, class="rounded px-4 py-2 bg-azul-tur hover:bg-indigo-900 text-sm font-bold text-center text-white uppercase") Siguiente